

.flight-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.flt-sidebar {
    width: 250px;
}

.flt-filter-box {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.flt-testimonial {
    background: #26a69a;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.flt-testimonial h5 {
    margin-top: 10px;
}


.flt-content {
    flex: 1;
}


.flt-topbar {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.flt-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.flt-card {
    background: #fff;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    transition: 0.3s;
}

.flt-card:hover {
    transform: translateY(-5px);
}

.flt-card img {
    margin-bottom: 10px;
}

.price {
    color: red;
    font-weight: bold;
}

.flt-card button {
    background: #26a69a;
    color: #fff;
    border: none;
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
}


.flt-pagination {
    margin-top: 20px;
    text-align: center;
}

.flt-pagination span,
.flt-pagination button {
    margin: 5px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.flt-pagination .active {
    background: #26a69a;
    color: #fff;
}

@media (max-width: 992px) {
    .flt-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .flight-container {
        flex-direction: column;
    }

    .flt-sidebar {
        width: 100%;
    }

    .flt-grid {
        grid-template-columns: 1fr;
    }
}